body {
  font-family:'__ginto_3dc94c', '__ginto_Fallback_3dc94c', sans-serif
}
#headlessui-portal-root #logo-text {
  font-family:'__gintoNord_11c22e', '__gintoNord_Fallback_11c22e', sans-serif
}
#headlessui-portal-root #logo-sans {
  font-family:'__ginto_3dc94c', '__ginto_Fallback_3dc94c', sans-serif
}
